################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/blankSolution/.vs/blankSolution/v16/Server/sqlite3
/blankSolution/ConsolePrj/bin/Debug
/blankSolution/ConsolePrj/obj/Debug
/.vs
